@font-face {
    font-family: "Roboto";
    src: "/assets/fonts/roboto-v30-latin-regular.eot";
}

@font-face {
    font-family: "Roboto Mono";
    src: "/assets/fonts/roboto-momo-v22-latin-regular.eot";
}